<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Memcache配置-->
    <!--服务地址池-->
    <add key="serverList" value="127.0.0.1:11211"/>
    <!--初始化SocketIO池-->
    <add key="poolName" value="MemcachedPool"/>
    <!--设置连接池初始数目-->
    <add key="InitConnections" value="10"/>
    <!--设置连接池最小连接数目-->
    <add key="MinConnections" value="10" />
    <!--设置连接池最大连接数目-->
    <add key="MaxConnections" value="200"/>
    <!--设置连接的套接字超时时间（单位：毫秒）-->
    <add key="SocketConnectTimeout" value="2000"/>
    <!--设置套接字超时时间（单位：毫秒）-->
    <add key="SocketTimeout" value="4000"/>
    <!--设置维护线程运行的睡眠时间：如果设置为0，那么维护线程将不会启动-->
    <add key="MaintenanceSleep" value="30"/>
    <!--设置SockIO池的故障标志-->
    <add key="Failover" value="true"/>
    <!--是否用nagle算法启动-->
    <add key="Nagle" value="false"/>
    <!--是否启动压缩-->
    <add key="EnableCompression" value="false"/>
  </appSettings>
</configuration>