<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Apple" value="Kiloway.DAL.Apple,Kiloway.DAL"/>
    <add key="Luima" value="Kiloway.DAL.Luima,Kiloway.DAL"/>
    <add key="Vivo" value="Kiloway.DAL.Vivo,Kiloway.DAL"/>
    <!--<add key="IPersonService" value="Kiloway.BLL.PersonService,Kiloway.BLL"/>-->
    <add key="IPersonService" value="Kiloway.BLL.Update.PersonServiceUpdate,Kiloway.BLL.Update"/>
    
  </appSettings>
</configuration>